openapi: 3.1.0
info:
  title: Synca API
  version: "1.1"
  description: >
    Synca is a health-based dating app. This API serves iOS and Android clients.
    All health data is aggregated on-device before being sent. Raw HealthKit/Health Connect
    samples are never stored or transmitted.

    **Live interactive docs** (when running locally or on staging): `GET /api-docs`
    — powered by rswag. The OpenAPI spec generated by rswag at
    `swagger/v1/swagger.yaml` is the authoritative machine-readable source;
    this file is the human-readable reference kept in sync manually.
  contact:
    name: Synca Engineering
servers:
  - url: https://api.synca.app/api/v1
    description: Production
  - url: https://staging.synca.app/api/v1
    description: Staging
  - url: http://localhost:3000/api/v1
    description: Local development

security:
  - bearerAuth: []

tags:
  - name: Auth
    description: Registration, login, token refresh
  - name: Profile
    description: User profile management
  - name: Health
    description: Aggregated health summary upload
  - name: Preferences
    description: User preference profile
  - name: Matching
    description: Compatibility scores and match list
  - name: Spark
    description: Synca Spark — live in-person compatibility sessions
  - name: DateProposals
    description: Date proposal lifecycle

paths:

  # ---------------------------------------------------------------------------
  # Auth
  # ---------------------------------------------------------------------------

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSignup'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/login:
    post:
      tags: [Auth]
      summary: Authenticate an existing user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: New access token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /me:
    get:
      tags: [Profile]
      summary: Get full current user object
      description: Returns user + profile + latest health summary + preference profile.
      responses:
        '200':
          description: Full user object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'

  # ---------------------------------------------------------------------------
  # Profile
  # ---------------------------------------------------------------------------

  /profile:
    put:
      tags: [Profile]
      summary: Update current user profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                bio:
                  type: string
                  maxLength: 300
                city:
                  type: string
                photo_url_main:
                  type: string
                  format: uri
                photo_urls:
                  type: array
                  items:
                    type: string
                    format: uri
                  maxItems: 6
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Health Summary
  # ---------------------------------------------------------------------------

  /health_summary:
    put:
      tags: [Health]
      summary: Upload aggregated health metrics
      description: >
        Called by iOS/Android after local aggregation of HealthKit / Health Connect data.
        Raw samples must never be sent. Only aggregated metrics are accepted.
        Always updates (or creates) the active health summary for the authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthSummaryInput'
      responses:
        '200':
          description: Health summary updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthSummary'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Preferences
  # ---------------------------------------------------------------------------

  /preferences:
    get:
      tags: [Preferences]
      summary: Get current user preference profile
      responses:
        '200':
          description: Preference profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceProfile'
    put:
      tags: [Preferences]
      summary: Update preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceProfileInput'
      responses:
        '200':
          description: Updated preference profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceProfile'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ---------------------------------------------------------------------------
  # Matching
  # ---------------------------------------------------------------------------

  /matches:
    get:
      tags: [Matching]
      summary: Get curated match list
      description: >
        Returns 3–5 matches above the compatibility threshold.
        Profiles below threshold are silently excluded (ghost matching).
        Each match includes all participants via the match_participants join.
      responses:
        '200':
          description: Match list
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      $ref: '#/components/schemas/Match'

  /matches/simulate:
    post:
      tags: [Matching]
      summary: Simulate compatibility between two users (internal/testing)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, other_user_id]
              properties:
                user_id:
                  type: integer
                other_user_id:
                  type: integer
      responses:
        '200':
          description: Compatibility score and breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompatibilityResult'

  # ---------------------------------------------------------------------------
  # Spark
  # ---------------------------------------------------------------------------

  /spark_sessions:
    post:
      tags: [Spark]
      summary: Create a new Spark session
      description: >
        Creates a pending Spark session. Returns a 6-digit session_code and a
        qr_token UUID. Only one active session per user at a time.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                lat:
                  type: number
                  format: float
                  description: Approximate latitude (optional)
                lng:
                  type: number
                  format: float
                  description: Approximate longitude (optional)
      responses:
        '201':
          description: Spark session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SparkSession'
        '422':
          $ref: '#/components/responses/ValidationError'

  /spark_sessions/{id}/join:
    post:
      tags: [Spark]
      summary: Join an existing Spark session
      description: >
        User B joins the session using session_code or qr_token.
        Sets partner_id and transitions status to active.
        Optional GPS proximity check (< configured meters).
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session_code:
                  type: string
                  example: "834920"
                qr_token:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Session joined — status is now active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SparkSession'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /spark_sessions/{id}/submit_answers:
    post:
      tags: [Spark]
      summary: Submit micro-test answers
      description: >
        Each participant submits their answers independently.
        When both sides have submitted, scoring is triggered asynchronously via Sidekiq.
      parameters:
        - $ref: '#/components/parameters/IdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [answers]
              properties:
                answers:
                  type: array
                  items:
                    type: string
                  description: Array of answer IDs from the micro-test
      responses:
        '200':
          description: Answers stored
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SparkSession'
        '422':
          $ref: '#/components/responses/ValidationError'

  /spark_sessions/{id}/result:
    get:
      tags: [Spark]
      summary: Get Spark session result
      description: >
        Returns the compatibility score once both participants have submitted answers.
        Also creates or updates the Match via match_participants,
        issues SparkRewards, updates TrustScore and spark_verified flag.
        Returns 202 if scoring is still in progress.
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Result ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SparkResult'
        '202':
          description: Scoring in progress — retry in a few seconds
        '404':
          $ref: '#/components/responses/NotFound'

  /spark_rewards:
    get:
      tags: [Spark]
      summary: List rewards for the current user
      responses:
        '200':
          description: Reward list
          content:
            application/json:
              schema:
                type: object
                properties:
                  rewards:
                    type: array
                    items:
                      $ref: '#/components/schemas/SparkReward'

  # ---------------------------------------------------------------------------
  # Date Proposals
  # ---------------------------------------------------------------------------

  /date_proposals:
    get:
      tags: [DateProposals]
      summary: List date proposals for current user
      responses:
        '200':
          description: List of proposals
          content:
            application/json:
              schema:
                type: object
                properties:
                  date_proposals:
                    type: array
                    items:
                      $ref: '#/components/schemas/DateProposal'
    post:
      tags: [DateProposals]
      summary: Create a new date proposal
      description: References a Match (via match_id) rather than raw user IDs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [date_proposal]
              properties:
                date_proposal:
                  type: object
                  required: [match_id, suggested_time_slot]
                  properties:
                    match_id:
                      type: integer
                      description: ID of the Match between the participants
                    suggested_time_slot:
                      type: string
                      format: date-time
                    venue_note:
                      type: string
      responses:
        '201':
          description: Proposal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateProposal'
        '422':
          $ref: '#/components/responses/ValidationError'

  /date_proposals/{id}/accept:
    post:
      tags: [DateProposals]
      summary: Accept a date proposal
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Proposal accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateProposal'

  /date_proposals/{id}/decline:
    post:
      tags: [DateProposals]
      summary: Decline a date proposal
      parameters:
        - $ref: '#/components/parameters/IdPath'
      responses:
        '200':
          description: Proposal declined
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DateProposal'

# =============================================================================
# Components
# =============================================================================

components:

  parameters:
    IdPath:
      name: id
      in: path
      required: true
      schema:
        type: integer

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Missing or invalid auth token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:

    # -------------------------------------------------------------------------
    # Auth
    # -------------------------------------------------------------------------

    UserSignup:
      type: object
      required: [auth_provider]
      properties:
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          example: "+79001234567"
          nullable: true
        password:
          type: string
          nullable: true
          description: Required when auth_provider is email
        auth_provider:
          type: string
          enum: [email, apple, google, telegram]
        provider_uid:
          type: string
          nullable: true
          description: Provider-specific user identifier (Apple/Google/Telegram)

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        user:
          $ref: '#/components/schemas/UserBase'

    # -------------------------------------------------------------------------
    # User & Profile
    # -------------------------------------------------------------------------

    UserBase:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
          format: email
          nullable: true

    Profile:
      type: object
      properties:
        user_id:
          type: integer
        display_name:
          type: string
        birth_date:
          type: string
          format: date
          nullable: true
        gender:
          type: string
          nullable: true
        bio:
          type: string
          nullable: true
        city:
          type: string
        photo_url_main:
          type: string
          format: uri
          nullable: true
        photo_urls:
          type: array
          items:
            type: string
            format: uri
        trust_score:
          type: number
          format: float
          minimum: 0
          maximum: 100
        spark_verified:
          type: boolean

    MeResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/UserBase'
        profile:
          $ref: '#/components/schemas/Profile'
        health_summary:
          $ref: '#/components/schemas/HealthSummary'
        preference_profile:
          $ref: '#/components/schemas/PreferenceProfile'

    # -------------------------------------------------------------------------
    # Health
    # -------------------------------------------------------------------------

    HealthSummaryInput:
      type: object
      properties:
        chronotype:
          type: string
          enum: [early_bird, intermediate, night_owl]
        sleep_start_local:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "23:30"
          description: Average sleep onset (local time HH:mm)
        sleep_end_local:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "07:15"
          description: Average wake time (local time HH:mm)
        avg_sleep_duration_minutes:
          type: integer
          example: 460
        routine_stability_index:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Variance-based regularity score (0 = chaotic, 1 = perfectly regular)
        activity_level:
          type: string
          enum: [low, medium, high]
        peak_energy_start_local:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "10:00"
        peak_energy_end_local:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "13:00"
        recovery_score:
          type: string
          enum: [low, medium, high]
        source:
          type: string
          enum: [apple_health, health_connect]

    HealthSummary:
      allOf:
        - $ref: '#/components/schemas/HealthSummaryInput'
        - type: object
          properties:
            id:
              type: integer
            user_id:
              type: integer
            effective_from:
              type: string
              format: date
            effective_to:
              type: string
              format: date
              nullable: true
            created_at:
              type: string
              format: date-time

    # -------------------------------------------------------------------------
    # Preferences
    # -------------------------------------------------------------------------

    PreferenceProfileInput:
      type: object
      properties:
        visual_embedding:
          type: object
          description: Compressed vector from preference game result
          example: { "v": [0.1, 0.7, 0.2] }
        travel_style:
          type: string
          enum: [homebody, balanced, explorer]
          nullable: true
        music_profile:
          type: object
          nullable: true
          description: Optional music taste embedding (Spotify integration future)

    PreferenceProfile:
      allOf:
        - $ref: '#/components/schemas/PreferenceProfileInput'
        - type: object
          properties:
            id:
              type: integer
            user_id:
              type: integer
            created_at:
              type: string
              format: date-time

    # -------------------------------------------------------------------------
    # Matching
    # -------------------------------------------------------------------------

    MatchParticipant:
      type: object
      properties:
        user_id:
          type: integer
        role:
          type: string
          enum: [initiator, member]
        profile:
          type: object
          properties:
            display_name:
              type: string
            photo_url_main:
              type: string
              format: uri
              nullable: true

    Match:
      type: object
      properties:
        id:
          type: integer
        status:
          type: string
          enum: [proposed, accepted, rejected]
        compatibility_score:
          type: number
          format: float
          minimum: 0
          maximum: 100
        participants:
          type: array
          items:
            $ref: '#/components/schemas/MatchParticipant'
          description: All participants via match_participants join table (supports 1-to-1 and future group matches)
        created_at:
          type: string
          format: date-time

    CompatibilityResult:
      type: object
      properties:
        compatibility_score:
          type: number
          format: float
          minimum: 0
          maximum: 100
        breakdown:
          type: object
          properties:
            sleep_rhythm:
              type: number
              format: float
            activity:
              type: number
              format: float
            lifestyle:
              type: number
              format: float
            preferences:
              type: number
              format: float

    # -------------------------------------------------------------------------
    # Spark
    # -------------------------------------------------------------------------

    SparkSession:
      type: object
      properties:
        id:
          type: integer
        session_code:
          type: string
          example: "834920"
        qr_token:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, active, completed, expired]
        initiator_id:
          type: integer
        partner_id:
          type: integer
          nullable: true
        location_lat:
          type: number
          format: float
          nullable: true
        location_lng:
          type: number
          format: float
          nullable: true
        started_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    SparkResult:
      type: object
      properties:
        compatibility_score:
          type: number
          format: float
          minimum: 0
          maximum: 100
        dimensions:
          type: object
          additionalProperties:
            type: number
            format: float
          example:
            sleep_rhythm: 90
            energy_overlap: 85
            lifestyle: 78
        rewards:
          type: array
          items:
            $ref: '#/components/schemas/SparkReward'
        match:
          $ref: '#/components/schemas/Match'

    SparkReward:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        spark_session_id:
          type: integer
        reward_type:
          type: string
          enum: [premium_week, match_credit, boost]
        status:
          type: string
          enum: [pending, redeemed, expired]
        valid_until:
          type: string
          format: date-time
          nullable: true

    # -------------------------------------------------------------------------
    # Date Proposals
    # -------------------------------------------------------------------------

    DateProposal:
      type: object
      properties:
        id:
          type: integer
        match_id:
          type: integer
          description: References the Match between participants (not raw user IDs)
        suggested_time_slot:
          type: string
          format: date-time
        venue_note:
          type: string
          nullable: true
        status:
          type: string
          enum: [suggested, accepted, declined, completed]
        created_at:
          type: string
          format: date-time

    # -------------------------------------------------------------------------
    # Errors
    # -------------------------------------------------------------------------

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: validation_failed
            message:
              type: string
              example: "Chronotype must be one of: early_bird, intermediate, night_owl"
            field:
              type: string
              nullable: true
              example: chronotype
